.Header { 
    width: 100%;
    padding: 10px 0;
    background-color: #6649b8;
    color: whitesmoke;
}
  
.HeaderGroup {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HeaderGroup img{
    width: 65px;
}

.Links {
    display: flex;
    flex-wrap: 20px;
}

.Link {
    text-decoration: none;
}

.HeaderGroup h3{
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.HeaderGroup h3:hover{

    color: white;
}