.Details {
    margin: 0 auto;
    width: 80%;
}

.DetailsSection{
    margin-top: 50px;
    padding: 20px;
    background-color:  var(--bg-primary);
    color: #fcfcfc;
    display: grid;
    grid-template-columns: 30% auto;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.2);
}

.DetailsSection img {
    border: 2px solid white;
    margin: auto;
}

.DetailsSection .description{
    padding: 0 5px;
    border: 2px solid #fcfcfc;
    border-radius: 20px;
}

.DetailsSection .description2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.Form {
    margin-top: 10px;
    border-top: 1px solid #fcfcfc;
    padding-top: 10px;
}

.Inputs {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    text-align: center;
}


.Inputs input{ 
    display: block;
    margin: 10px auto 0;
}

.Inputs textarea {
    margin: 10px auto 0;
    resize: none;
}

form button{
    display: block;
    margin: 20px auto 0;
    width: 100%;
    padding: 5px 0;
    border-radius: 20px;
    background-color: #fcfcfc;
    cursor: pointer;
}